body{
    margin: 0px;
    padding: 0px;
    /*font-family: PingFangSC-Regular;*/
    background-color: #ededed;
    overflow: hidden;
}

#content{
    position: relative;
    padding: 40px 60px 40px 60px;/*px*/
    background-color: #ffffff;
    margin-top: 16px;/*px*/
    box-shadow: 1px 1px 6px #acacac;
}

#title{
    position: relative;
    color: #413f3f;
    font-size: 44px;/*px*/
}

#userName{
    position: relative;
    font-size: 28px;/*px*/
    color: #6b6b6b;
    margin-top: 30px;/*px*/
}


#content-text{
    position: relative;
    font-size: 25px;/*px*/
    margin-top: 20px;/*px*/
    color: #413f3f;
}


#userHead{
    position: absolute;
    width: 120px;/*px*/
    height: 120px;/*px*/
    border-radius: 60px;/*px*/
    /*border: 1px solid #413f3f;*/
    top: 20px;/*px*/
    right: 80px;/*px*/
    background-image: url(../../static/img/head.png);
    background-size: 100%;
}


.msg{
    position: relative;
    height: 70px;/*px*/
    padding: 0px 60px 0px 60px;/*px*/
    /*border: 1px solid #413f3f;*/
    line-height: 70px;/*px*/
    margin-top: 20px;
    box-shadow: 1px 1px 6px #acacac;
    background-color: #ffffff;
    color: #5e5e5e;
}

.tipImg{
    position: relative;
    width: 40px;
    height: 40px;
    background-size: 100%;
    display: inline-block;
    /*border: 1px solid #413f3f;*/
    top: 10px;/*px*/
}

.information{
    position: relative;
    font-size: 26px;/*px*/
    /*border: 1px solid #413f3f;*/
    margin-left: 15px;
}

.go{
    position: absolute;
    right: 35px;
    width: 20px;
    height: 36px;
    background-size: 100%;
    background-image: url(../../static/img/go.png);
    display: inline-block;
    /*border: 1px solid #413f3f;*/
    top: 15px;/*px*/
}

#phoneNumber .tipImg{
    background-image: url(../../static/img/phone.png);
}


#time .tipImg{
    background-image: url(../../static/img/time.png);
}

#location .tipImg{
    background-image: url(../../static/img/location.png);
}

#participants{


}
