body{
    margin: 0px;
    padding: 0px;
    /*font-family: PingFangSC-Regular;*/
    background-color: #ededed;
    overflow: hidden;
}

#content{
    position: relative;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;/*px*/
    background-color: #ffffff;
    margin-top: 0.21rem;/*px*/
    box-shadow: 1px 1px 6px #acacac;
}

#title{
    position: relative;
    color: #413f3f;
    font-size: 44px;/*px*/
}

#userName{
    position: relative;
    font-size: 28px;/*px*/
    color: #6b6b6b;
    margin-top: 0.3rem;
}


#content-text{
    position: relative;
    font-size: 25px;/*px*/
    margin-top: 0.2rem;
    color: #413f3f;
}


#userHead{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    /*border: 1px solid #413f3f;*/
    top: 0.2rem;
    right: 1.1rem;
    background-image: url(../../static/img/head.png);
    background-size: 100%;
}


.msg{
    position: relative;
    height: 70px;
    padding: 0rem 0.53rem 0rem 0.53rem;
    /*border: 1px solid #413f3f;*/
    line-height: 70px;
    margin-top: 0.27rem;
    box-shadow: 1px 1px 6px #acacac;
    background-color: #ffffff;
    color: #5e5e5e;
}

.tipImg{
    position: relative;
    width: 0.53rem;
    height: 0.53rem;
    background-size: 100%;
    display: inline-block;
    /*border: 1px solid #413f3f;*/
    top: 0.13rem;
}

.information{
    position: relative;
    font-size: 26px;/*px*/
    /*border: 1px solid #413f3f;*/
    margin-left: 0.2rem;
}

.go{
    position: absolute;
    right: 0.47rem;
    width: 0.26rem;
    height: 0.48rem;
    background-size: 100%;
    background-image: url(../../static/img/go.png);
    display: inline-block;
    /*border: 1px solid #413f3f;*/
    top: 0.25rem;
}

#phoneNumber .tipImg{
    background-image: url(../img/phone.png);
}


#time .tipImg{
    background-image: url(../img/time.png);
}

#location .tipImg {
    background-image: url(../img/location.png);
}

#participants {
    position: relative;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#participants-head{
    position: relative;
    width: 8rem;
    /*height: 80px;*/
    /*border: 1px solid #413f3f;*/
    left: -0.2rem;
    top: 0.05rem;
}

#participants-head li{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: inline-block;
    margin-left: 0.26rem;
    background-image: url(../img/head.png);
    background-size: 100%;

}



#numbers{
    position: absolute;
    font-size: 32px;/*px*/
    bottom: 0.4rem;
    right: 0.4rem;
}

#more-btn{
    position: absolute;
    font-size: 24px;/*px*/
    right: 0.8rem;
    bottom: -0.14rem;
    color: #5eb6d4;
}

#comment-list{
    position: relative;
    height: 2.67rem;
    padding: 0.2rem 0.53rem 0.2rem 0.53rem;
    font-size: 26px;/*px*/
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 0.27rem;
    color: #5e5e5e;
    z-index: 2;
}

.comment{
    position: relative;
    font-size: 26px;/*px*/
    line-height: 36px;
}

.comment-name{
    color: #5eb6d4

}

.comment-time{
    position: relative;
    color: #b1b1b1;
    font-size: 22px;/*px*/
    margin-left: 20px;
}

#more-comment{
    width: 100%;
    position: relative;
    font-size: 26px;/*px*/
    color: #b1b1b1;
    text-align: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 6px #acacac;
    top: -2px;
}

#commit{

}

#first-btn{

}

#second-btn{

}