<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动详情</title>
    <meta name="flexible" content="initial-dpr=2,maximum-dpr=2" />
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/activityDetail.css">
</head>
<body>
    <div id="content">
        <div id="title">今晚7点打篮球</div>
        <div id="userName">DaisyCream</div>
        <div id="content-text">
            爱上就大发撒手动阀加快速度啥地方就安静阿萨德居委
            是短发接口及违纪款深刻的房间按客服答复哈三等奖发
            违法及发货方阿尔法无可减肥哈瓦三等奖是否健康和文
            接发合计后无法看见爱和我客户发
        </div>
        <div id="userHead"></div>
    </div>
    <div class="msg" id="phoneNumber">
        <span></span>
        <span class="information"></span>
        <span class="go"></span>
    </div>
    <div class="msg" id="time">
        <span></span>
        <span class="information"></span>
    </div>
    <div class="msg" id="location">
        <span></span>


        <span class="information"></span>
        <span class="go"></span>
    </div>
    <div class="msg" id="participants">
        <ul id="participants-head">
            <li></li>
        </ul>
        <div id="numbers"></div>
        <div id="more-btn"></div>
    </div>
    <div id="comment-list">
        <div class="comment">
            <span class="comment-name"></span>
            <span class="comment-text"></span>
            <span class="comment-time"></span>
        </div>
        <div class="comment">
            <span class="comment-name"></span>
            <span class="comment-text"></span>
            <span class="comment-time"></span>
        </div>
        <div class="comment">
            <span class="comment-name"></span>
            <span class="comment-text"></span>
            <span class="comment-time"></span>
        </div>
        <div id="more-comment">展开更多评论</div>
    </div>
    <div id="commit">
        <div>参与</div>
        <div>待定</div>
    </div>
</body>
</html>