<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动详情</title>
    <meta name="flexible" content="initial-dpr=2,maximum-dpr=2" />
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <script src="../../static/js/vue.min.js"></script>
    <link rel="stylesheet" href="../../static/css/activityDetail.css">
</head>
<body>
    <div id="content">
        <div id="title">今晚7点打篮球</div>
        <div id="userName">DaisyCream</div>
        <div id="content-text">按实际的水电费撒旦经发局开发大会傻蛋哈坎大姐圣诞节阿富汗上岛咖啡世纪东方哈的空间为夫好胃口按实际的水电费</div>
        <div id="userHead"></div>
    </div>
    <div class="msg" id="phoneNumber">
        <span class="tipImg"></span>
        <span class="information">11232898383</span>
        <span class="go"></span>
    </div>
    <div class="msg" id="time">
        <span class="tipImg"></span>
        <span class="information">
            08/02 19:00 - 08/02 21:00
        </span>
    </div>
    <div class="msg" id="location">
        <span class="tipImg"></span>
        <span class="information">
            距离5.2km 阿里巴巴西溪园区2号楼
        </span>
        <span class="go"></span>
    </div>
    <div class="msg" id="participants">
        <ul id="participants-head">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div id="numbers">12/15</div>
        <div id="more-btn" @click="showParticipants">展开</div>
    </div>
    <div id="comment-list">
        <div class="comment">
            <span class="comment-name">daisycream</span>
            <span>:</span>
            <span class="comment-text">你是谁？</span>
            <span class="comment-time">8月2日 12:00</span>
        </div>
        <div class="comment">
            <span class="comment-name">哇哈哈哈</span>
            <span>:</span>
            <span class="comment-text">我是你大爷哇哈哈我是你大爷哇哈哈我是你大爷哇哈哈</span>
            <span class="comment-time">8月2日 12:20</span>
        </div>
        <div class="comment">
            <span class="comment-name">daisycream</span>
            <span>:</span>
            <span class="comment-text">哈哈哈哈哈哈，傻逼</span>
            <span class="comment-time">8月2日 13:00</span>
        </div>
        <div class="comment">
            <span class="comment-name">daisycream</span>
            <span>:</span>
            <span class="comment-text">哈哈哈哈哈哈，傻逼</span>
            <span class="comment-time">8月2日 13:00</span>
        </div>
        <div class="comment">
            <span class="comment-name">daisycream</span>
            <span>:</span>
            <span class="comment-text">哈哈哈哈哈哈，傻逼</span>
            <span class="comment-time">8月2日 13:00</span>
        </div>
        <div class="comment">
            <span class="comment-name">daisycream</span>
            <span>:</span>
            <span class="comment-text">哈哈哈哈哈哈，傻逼</span>
            <span class="comment-time">8月2日 13:00</span>
        </div>
        <div class="comment">
            <span class="comment-name">daisycream</span>
            <span>:</span>
            <span class="comment-text">哈哈哈哈哈哈，傻逼</span>
            <span class="comment-time">8月2日 13:00</span>
        </div>
        <div class="comment">
            <span class="comment-name">哇哈哈哈</span>
            <span>:</span>
            <span class="comment-text">我是你大爷哇哈哈我是你大爷哇哈哈我是你大爷哇哈哈</span>
            <span class="comment-time">8月2日 12:20</span>
        </div>
        <div class="comment">
            <span class="comment-name">哇哈哈哈</span>
            <span>:</span>
            <span class="comment-text">我是你大爷哇哈哈我是你大爷哇哈哈我是你大爷哇哈哈</span>
            <span class="comment-time">8月2日 12:20</span>
        </div>
    </div>
    <div id="more-comment" @click="showComments">展开更多评论</div>
    <div id="commit">
        <div id="first-btn">参与</div>
        <div id="second-btn">待定</div>
    </div>
</body>
</html>
<script type="text/javascript">
    new Vue({
        el: "body",
        data: {
            headClickCount:1,
            commentClickCount: 1
        },
        methods: {
            showParticipants: function(e){
                var target = e.target;
                if(this.headClickCount%2!=0){
                    target.parentNode.style.height = "auto";
                }else{
                    target.parentNode.style.height = "1.06rem";
                }
                this.headClickCount++;


            },

            showComments: function(){
                var target = document.getElementById('comment-list');
                if(this.commentClickCount%2!=0){
                    target.style.height = "auto";
                }else{
                    target.style.height = "2.67rem";
                }
                this.commentClickCount++;

            }
        }


    });

</script>